html

  head
    link(href="css/bootstrap.css" rel="stylesheet")
    link(href="css/sb-admin.css" rel="stylesheet")
    link(href="css/switch.css" rel="stylesheet")
    link(href="css/fonts-awesome/css/font-awesome.min.css" rel="stylesheet")

  script.
    var __user = !{JSON.stringify(user)}

  body(ng-app="traderbot")
    #wrapper

      tb-sidebar#sidebar

      #page-wrapper

        //- .row
        //-   .col-lg-12
        //-     h1 Blank Page
        //-       small A Blank Slate
        //-     ol.breadcrumb
        //-       li
        //-         a(href="index.html")
        //-           i.icon-dashboard Dashboard
        //-       li.active
        //-         i.icon-file-alt Blank Page

        tb-bots#bots(ng-if="bots.current")


    script#bots-tpl(type="text/ng-template")
      include templates/bots

    script#sidebar-tpl(type="text/ng-template")
      include templates/sidebar

    script#input-text-tpl(type="text/ng-template")
      include templates/input-text

    script#toggle-tpl(type="text/ng-template")
      include templates/toggle

    script#select-tpl(type="text/ng-template")
      include templates/select

    script#chart-tpl(type="text/ng-template")
      include templates/chart

    script#users-tpl(type="text/ng-template")
      include templates/users

    script#trades-tpl(type="text/ng-template")
      include templates/trades

    script(src="/socket.io/socket.io.js" type="text/javascript")
    | !{cachify_js('/js/build/traderbot.min.js')}
