html

  head
    link(href="/css/bootstrap.css" rel="stylesheet")
    link(href="/css/sb-admin.css" rel="stylesheet")
    link(href="/css/switch.css" rel="stylesheet")
    link(href="/css/fonts-awesome/css/font-awesome.min.css" rel="stylesheet")

  script.
    var __user = !{JSON.stringify(user)}

  body(ng-app="traderbot")
    #wrapper

      tb-sidebar#sidebar

      #page-wrapper

        div(ng-if="params.settings")
          tb-settings#settings
        div(ng-if="!params.settings")
          tb-bots#bots(ng-if="bots.current")
          tb-dashboard#Dashboard(ng-if="!bots.current")


    script#bots-tpl(type="text/ng-template")
      include templates/bots

    script#sidebar-tpl(type="text/ng-template")
      include templates/sidebar

    script#input-text-tpl(type="text/ng-template")
      include templates/input-text

    script#toggle-tpl(type="text/ng-template")
      include templates/toggle

    script#select-tpl(type="text/ng-template")
      include templates/select

    script#chart-tpl(type="text/ng-template")
      include templates/chart

    script#users-tpl(type="text/ng-template")
      include templates/users

    script#trades-tpl(type="text/ng-template")
      include templates/trades

    script#dashboard-tpl(type="text/ng-template")
      include templates/dashboard

    script#settings-tpl(type="text/ng-template")
      include templates/settings

    script(src="/socket.io/socket.io.js" type="text/javascript")
    | !{cachify_js('/js/build/traderbot.min.js')}
