div

  .row
    .col-lg-2
      //- h2
      //-   tb-input-text(value="bots.current.name", on-save="save")
      .panel.panel-primary
        .panel-heading
          h3.panel-title Status
        .panel-body
          tb-toggle#toggleActive(value="bots.current.active", change="startStop")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Market
        .panel-body
          tb-select#market(value="bots.current.market", options="availableMarket", on-save="save" disable-edit="bots.current.active")
          tb-select#pair(value="bots.current.pair", options="availablePair", on-save="save" disable-edit="bots.current.active")

