div

  .row
    .col-lg-2
      //- h2
      //-   tb-input-text(value="bots.current.name", on-save="save")
      .panel.panel-primary
        .panel-heading
          h3.panel-title Status
        .panel-body
          tb-toggle#toggleActive(value="bots.current.active", change="startStop")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Market
        .panel-body
          tb-select#market(value="bots.current.market", options="availableMarket", key="name", on-save="fetchPairs" disable-edit="bots.current.active")
          tb-select#pair(value="bots.current.pair", options="availablePair", key="pair", on-save="save" disable-edit="bots.current.active")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Simulation
        .panel-body
          |lol

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Algo
        .panel-body
          |lol

    .col-lg-4
      .panel.panel-primary
        .panel-heading
          h3.panel-title Algo Config
        .panel-body
          |lol

  .row
    .col-lg-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title Chart
        .panel-body
          tb-chart

    .col-lg-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title Trades
        .panel-body
          |lol

    .col-lg-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title Orders
        .panel-body
          |lol

    .row
      .col-lg-6
        .panel.panel-primary
          .panel-heading
            h3.panel-title Gains
          .panel-body
            |lol
