div

  .row
    .col-lg-2
      //- h2
      //-   tb-input-text(value="bots.current.name", on-save="save")
      .panel.panel-primary
        .panel-heading
          h3.panel-title Status
        .panel-body
          tb-toggle#toggleActive(value="bots.current.active", change="startStop")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Market
        .panel-body
          tb-select#market(value="bots.current.market", options="availableMarket", key="name", on-save="fetchPairs" disable-edit="bots.current.active")
          tb-select#pair(value="bots.current.pair", options="availablePair", key="pair", on-save="save" disable-edit="bots.current.active")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Simulation
        .panel-body
          tb-toggle#toggleSimu(value="bots.current.simu", change="save")

    .col-lg-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Algo
        .panel-body
          tb-select(value="bots.current.algo", options="availableAlgo", on-save="save", disable-edit="bots.current.active")

    .col-lg-4
      .panel.panel-primary
        .panel-heading
          h3.panel-title Algo Config
        .panel-body
          | min
          tb-input-text(value="bots.current.algo_params.min", on-save="save", disable-edit="bots.current.active")
          | max
          tb-input-text(value="bots.current.algo_params.max", on-save="save", disable-edit="bots.current.active")

  .row
    .col-lg-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title Chart
        .panel-body
          tb-chart

    .row
      .col-lg-6
        .panel.panel-primary
          .panel-heading
            h3.panel-title Balances
          .panel-body
            tb-input-text(value="bots.current.balances.ltc", on-save="save", disable-edit="bots.current.active")
            tb-input-text(value="bots.current.balances.usd", on-save="save", disable-edit="bots.current.active")

      .col-lg-3
        .panel.panel-primary
          .panel-heading
            h3.panel-title Trades
          .panel-body
            tb-trades#trades

      .col-lg-3
        .panel.panel-primary
          .panel-heading
            h3.panel-title Orders
          .panel-body
            tb-orders#orders

      .col-lg-6
        .panel.panel-primary
          .panel-heading
            h3.panel-title Gains
          .panel-body
            |lol
