div

  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title Market Balances
        .panel-body
          div(ng-repeat="balance in balances")
            div(ng-repeat="(market, funds) in balance")
              h3 {{market}}
              div(ng-repeat="(currency, value) in funds")
                span(ng-if="value")
                  {{value}} {{currency}}

  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title Bots Balances
        .panel-body

