.onoffswitch
    input(type="checkbox", name="onoffswitch", class="onoffswitch-checkbox", id="myonoffswitch-{{count}}", ng-model="value", ng-change="changed()")
    label.onoffswitch-label(for="myonoffswitch-{{count}}")
        .onoffswitch-inner
        .onoffswitch-switch
