li.dropdown.user-dropdown
  a(href="#" class="dropdown-toggle" data-toggle="dropdown")
    i.fa.fa-user {{user.login}}
    b.caret
  ul.dropdown-menu
    li
      a(href="", ng-click="profile()")
        i.fa.fa-user Profile
    li
      a(href="#")
        i.fa.fa-envelope Inbox
        span.badge 7
    li
      a(href="", ng-click="settings()")
        i.fa.fa-gear Settings
    li.divider
    li
      a(href="", ng-click="logout()")
        i.fa.fa-power-off Log Out
